@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TagHelper</h1>
    <div>
        <p>Gewone tekst</p>
        <bold>
            Dit is een informatieve website voor het gebruik van een taghelper.
        </bold>
    </div>
</div>
