@{
}

<div>
    <form asp-action="FormulierPost">
        <div class="form-group">
            Invoer: 
            <input name="TestInvoer" />
            <input type="submit" value="submit" />
        </div>
    </form>
</div>
