@{
    Layout = "_Layout";
    int teller = (int)ViewBag.Teller;
    teller = (int)ViewData["Teller"];
}

<div>
    <ul>
        @for (int i = 1; i < teller; i++)
        {
            <li>
                Dit is test @i uit de viewbag!
            </li>
        }
    </ul>
</div>
