@page
@model RazorWebAppClient.Pages.KlantenModel
@{
    var klanten = RazorWebAppClient.Data.Databank.Klanten;
    var rowId = 0;

}
<div>
    <h1>Klanten</h1>
    <a asp-page="NieuweKlant">Nieuwe klant</a>
    <a asp-page="KlantLocatieOverzicht">Klant met locatie</a>

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">KlantId</th>
            <th scope="col">KlantNaam</th>   
            <th scope="col">LocatieId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klant in klanten)
        {
            rowId++;
            <tr>
                <th scope="row">@rowId</th>
                <td>@klant.KlantId</td>
                <td>@klant.KlantNaam</td>
                <td>@klant.LocatieId</td>
            </tr>
        }
    </tbody>
</table>