@page
@model RazorWebAppClient.Pages.LocatieDetailsModel
@{
    var id = Model.LocatieId;
    var row = Data.Databank.Locaties.Where(x => x.LocatieId == id).FirstOrDefault();
    var postcode = (row!=null) ? row.PostCode : "";
    var city = (row != null) ? row.Gemeente : "";

}

<div>
    <h1>Locatie details</h1>
    <br />
    <p>ID: @id</p>
    <p>Postcode: @postcode</p>
    <p>Gemeente: @city</p>
</div>
