@page
@model RazorWebAppClient.Pages.LocatiesModel
@{
    var locaties = RazorWebAppClient.Data.Databank.Locaties;
    var rowId = 0;

}
<div>
    <h1>Locaties</h1>
    <a asp-page="NieuweLocatie">Nieuwe locatie</a>

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">LocatieId</th>
            <th scope="col">Postcode</th> 
            <th scope="col">Gemeente</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var loc in locaties)
        {
            rowId++;
            <tr>
                <th scope="row">@rowId</th>
                <td>@loc.LocatieId</td>
                <td>@loc.PostCode</td>
                <td>@loc.Gemeente</td>
            </tr>
        }
    </tbody>
</table>