@page
@model RazorWebAppClient.Pages.NieuweLocatieModel
@{
}

<form method="post">
    <fieldset>
        <legend>Locatie toevoegen</legend>
        <div>
            <label for="PostCode">Postcode: </label>
            <input type="text" name="PostCode" />
            <br />
            <label for="Gemeente">Gemeente: </label>
            <input type="text" name="Gemeente" />
            <br />
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit"/>
            </div>
        </div>
    </fieldset>
</form>
