@page
@model RazorWebAppClient.Pages.SelecteerLocatieModel
@{
    var locaties = Data.Databank.Locaties;
    var selectList = locaties.Select(x =>
        new SelectListItem
                {
                    Text = x.Gemeente,
                    Value = x.LocatieId.ToString()
                });
}

<div>
    <h1>Selecteer locatie</h1>
    <form method="post">
        <select name="SelectLocatie" asp-items="@selectList"></select>
        <label>&nbsp;</label>
        <input type="submit" value="Selecteer locatie" class="sumbit" />
    </form>
</div>