@model Gast
@{
    var lst = new List<SelectListItem>();
    lst.Add(new SelectListItem { Text = "Kies één van de opties", Value = "0" });
    lst.Add(new SelectListItem { Text = "Ja", Value = "true" });
    lst.Add(new SelectListItem { Text = "Nee", Value = "false" });
}

<form asp-action="Reservatie" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Naam"></label>
        <input asp-for="Naam" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Telefoon"></label>
        <input asp-for="Telefoon" />
    </div>
    <div>
        <label asp-for="Aanwezig"></label>
        <select asp-for="Aanwezig" asp-items="@lst">
        </select>
    </div>
    <button type="submit">Inschrijven</button>
</form>
