@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-page="/Klant">Klant</a>
    <h1 class="display-4">Welcome</h1>
    <p>Dit is onze eerste razor page.</p>
    <a class="nav-link text-dark" asp-area="" asp-page="/Locaties">Locatie</a>
</div>
