@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SportStore</h1>
    <hr />
    <br />
    @foreach(var product in Model)
    {
        <div>
            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <h4>Price: @product.ProductPrice.ToString("c")</h4>
        </div>
    }

</div>
