@page
@model HelloWorld.Pages.IndexModel
@{
    var name = string.Empty;
    if (Request.HasFormContentType)
    {
        name = Request.Form["name"];
    }
}

<div style="margin-top:30px;">
    <form method="post">
        <div>
            Name:   <input name="name" />
        </div>
        <br /> 
        <div>
            <input type="submit" />
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>
<div>
    @if (!string.IsNullOrEmpty(name))

    {
        <p>Hello @name!</p>
    }
</div>
<br />
<div>
    <a href="/Thibau">Klik hier voor meer RAM geheugen</a>
</div>
