html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navpxl {
    background-color: lightgray;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navpxl li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}